@darkblue: #1882ad;
@lightblue: #1eb3d9;
@textBlue: #1881ad;
@white: #fff;
@pathImg: "../img";
@buttonGradient: linear-gradient(@darkblue, @lightblue);
@tableHeaderColor: #8dc6de;
@grey: #e3e3e3;
@lightGrey: #f0f0f0;
@fontFamily: Arial, Helvetica, sans-serif;

html, body {
        width: 100%;
        height: 100%;
        font-family: @fontFamily;
        font-size: 14px;
        margin: 0;
        padding: 0;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; 

        a, a:hover, a:active {
            color: @darkblue;
        }
    }

header{
    padding: 20px 0px 10px 65px;
    border-bottom: 7px solid #e0e0e0;

    h1 {
        font-size: 30px;
        margin: 0;
    }
}

.page-content {
    padding: 20px 65px 0px;
    button {
        display: block;
        margin: 0 auto;
        margin-top: 20%;
        font-size: 24px;
        color: @white;
        text-transform: uppercase;
        padding: 30px 60px 30px 70px;
        background: @buttonGradient;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        outline: none;

            &:active {
                background: linear-gradient(@lightblue, @darkblue);
            }
    }

    .preloader {
        margin: 0 auto;
        margin-top: 20%;
        display: block;
    }

    .intro {
        color: @textBlue;
        font-size: 16px;
        font-weight: bold;
    }

    .selectForm {
        margin: 40px 0;
        // height: 144px;  

        label {
            display: inline-block;
            padding-left: 25px;
            height: 24px;
            width: 210px;
            line-height: 24px;
        }

        input+label{
            background: url("@{pathImg}/checkbox_bg.png") 0 center no-repeat;
        }

        input:checked+label{
            background: url("@{pathImg}/checkbox_check.png") 3px 3px no-repeat,
                        url("@{pathImg}/checkbox_bg.png") 0 center no-repeat;
        }
        input[type="checkbox"]{display: none;}
}

    .select-prop {
            color: @textBlue;
            float: left;
            margin-bottom: 10px;
            cursor: pointer;
                &:nth-of-type(1) {
                 padding-right: 10px;
                 border-right: 1px solid @textBlue;
                }
                &:nth-of-type(2) {
                 padding-left: 10px;
                }
    }

    button.view-table {
        clear: both;
        font-size: 16px;
        margin: 0;
        padding: 11px 35px 11px 39px;
    }

    button.select-back {
        margin: 0;
        margin-right: 14px;
        display: inline-block;
        font-size: 16px;
        padding: 14px 14px 11px 40px;
        background: url("@{pathImg}/arrow_back.png") 9px center no-repeat, @buttonGradient;
    }

    .result-table {
         overflow: auto;
         height: 500px;
        .intro {
            display: inline-block;
            height: 35px;
            line-height: 35px;
        }

        table {
            border-collapse: collapse;
            width: 100%;

            ul {margin: 0;}
        }

        th, td {
            border-right: 2px solid @white;
            padding-left: 3px;
            padding-top: 10px;
            padding: 10px 3px;
            text-align: left;
        }
        th {
            background-color: @tableHeaderColor;
            height: 52px;
            }

        td {vertical-align: top;}
        
        .people {
            &:nth-of-type(even) {background-color: @grey;}
            &:nth-of-type(odd) {background-color: @lightGrey;}
        }
        td.phone {white-space: pre;}

    }
}
